@import "blog.css";
@import "index.css";
@import "header_footer.css";

body {
  background-color: #fcfcfc;
  margin: 0px;
  background-image: url("../img/water_surface.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 50%;
}

.container {
  display: grid;

  grid-template-areas:
  "header"
  "nav"
  "content"
  "footer";

  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-gap: 0px;

  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #000;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}



/* NAVIGATION */

nav {
  grid-area: nav;
  text-align: center;
  font-weight: 400;
}

nav ul {
  padding-left: 0px;
}
nav li {
  display: inline;
  list-style-type: none;
  margin: 0px 4.5%;
}

nav a:link, nav a:visited {
  color: #000;
  text-decoration: none;
}

nav a:hover {
  color: #297fee;
  text-decoration: underline;
}

/* MAIN */

main {
  grid-area: content;
  background-color: #efefef;
}